
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@using (Html.BeginForm("Razor", "Basics", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.TextBox("Email");
    @Html.Password("Password");
    @Html.Password("Password Confirmation");
    <input type="submit" value="Submit">
}